*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color:#ffffff;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 82vw;
}

.container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container .carousel::-webkit-scrollbar {
  display: none;
}

.container .carousel .item {
  margin: 10px;
  padding: 10px;
  width: 280px;
  flex: none;
}

.video {
  max-width: 1100px;
}